@import '../assets/assets.scss';

*{
	margin: 0;
	padding: 0;
}

.header{
    border-bottom: 1px solid $hf-color;
    width: 100%;
    height: 52px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-bottom: 15px;
    &__left{
        font-size: 30px;
        padding-bottom: 6px;
        &-icon{
            color: $hf-color;
            margin-right: 10px;
            text-decoration: none;
            &:hover {
                color: #C2EDCE;
                transform: scale(1.5);
            }
            &:visited{
                text-decoration: none;
            }
        }
    }
    &__center{
        font-size: 28px;
        font-family: $font-primary;
        color: $hf-color;
        font-weight: 600;
    }
    &__right{
        font-size: 30px;
        padding-bottom: 6px;
        &-icon{
            color: $hf-color;
            margin-right: 10px;
            text-decoration: none;
            &:hover {
                color: #C2EDCE;
                transform: scale(1.5);
            }
            &:visited{
                text-decoration: none;
            }
        }
        &-hamburger{
            display: none;
        }
    }
}



@media only screen and (max-width: 519px) {
    .header{
        &__left{
            &-icon{
                display: none;
            }
        }
        &__center{
            font-size: 19px;
        }
        &__right{
            &-icon{
                display: none;
            }
            &-hamburger{
                display: flex;
                justify-content: flex-end;
                color: $hf-color;
                align-items: center;
                font-size: 20px;
                
            }
        }
    }
}
.hamburgerMenu{
    background-color: #F6F6F2;
    z-index: 99999;
    width: 75%;
    height: 70px;
    position: absolute;
    top: 52px;
    right: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $hf-color;
    text-decoration: none;
    color: $primary-color;
    border-radius: 15px;
    font-size: 17px;
    // font-weight: 600;
    &__links{
        &-home{
            border: 1px solid red;
        }
        &-portfolio{
            border: 1px solid red;
        }
        &-about{
            border: 1px solid red;
        }
    }
}
