.header {
  border-bottom: 1px solid black;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.header__left {
  font-size: 30px;
  align-items: center;
}
.header__left-home {
  color: red;
  margin-right: 10px;
  align-items: center;
  text-decoration: none;
}
.header__left-home:visited, .header__left-home:hover, .header__left-home:active {
  color: red;
  text-decoration: none;
}
.header__left-portfolio {
  margin-right: 10px;
}
.header__left-about {
  margin-right: 10px;
}
.header__left-contact {
  margin-right: 10px;
  color: red;
}
.header__center {
  align-items: center;
}