.header {
  border-bottom: 1px solid black;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.header__left {
  font-size: 30px;
}
.header__left-home {
  color: grey;
  margin-right: 10px;
  text-decoration: none;
}
.header__left-home:hover {
  color: darkgrey;
}
.header__left-home:visited {
  text-decoration: none;
}
.header__left-portfolio {
  color: grey;
  margin-right: 10px;
}
.header__left-portfolio:hover {
  color: darkgrey;
}
.header__left-portfolio:visited {
  text-decoration: none;
}
.header__left-about {
  color: grey;
  margin-right: 10px;
}
.header__left-about:hover {
  color: darkgrey;
}
.header__left-contact {
  color: grey;
  margin-right: 10px;
}
.header__left-contact:hover {
  color: darkgrey;
}
.header__center {
  align-items: center;
}