@import '../assets/assets.scss';

*{
	margin: 0;
	padding: 0;
}

.header{
    border-bottom: 1px solid $hf-color;
    width: 100%;
    height: 52px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-bottom: 15px;
    &__left{
        font-size: 30px;
        padding-bottom: 6px;
        &-icon{
            color: $hf-color;
            margin-right: 10px;
            text-decoration: none;
            &:hover {
                color: #C2EDCE;
                transform: scale(1.5);
            }
            &:visited{
                text-decoration: none;
            }
        }
    }
    &__center{
        font-size: 28px;
        font-family: $font-primary;
        color: $hf-color;
        font-weight: 600;
    }
    &__right{
    }
}