.about{
    &__row1{
        background-color: #F6F6F2;
        width: 100%;
        margin-bottom: 15px;
        &-content{
        box-shadow: 5px 5px 15px 5px #C9C7C7;
        border-radius: 15px;
            &-left{
                img{
                    width: 65%;
                    height: 65%;
                    border-radius: 50%;
                }
            }
            &-right{
                margin: 10px;
            }
        }
    }
    &__row2{
        background-color: #F6F6F2;
        width: 100%;
        margin-bottom: 15px;
        &-content2{
            box-shadow: 5px 5px 15px 5px #C9C7C7;
            background-color: #F6F6F2;
            border-radius: 15px;
            .icon{
                width: 100%;
                .icons{
                    max-width: 160px;
                    max-height: 160px;
                    max-width: fit-content;
                    min-width: 10px;
                    margin: auto;
                }
            }
        }
    }
}