@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
.about__row1 {
  width: 100%;
  max-height: 30%;
  margin-bottom: 15px;
}
.about__row1-content {
  background-color: #6FB3B8;
  box-shadow: 5px 5px 15px 5px #C2EDCE;
  border-radius: 15px;
}
.about__row1-content-left img {
  width: 60%;
  height: 60%;
  border-radius: 50%;
}
.about__row1-content-right {
  margin: 10px;
  color: #388087;
}
.about__row2 {
  width: 100%;
  margin-bottom: 15px;
  color: #388087;
}
.about__row2-content2 {
  box-shadow: 5px 5px 15px 5px #C2EDCE;
  background-color: #6FB3B8;
  border-radius: 15px;
}
.about__row2-content2 .icon {
  width: 100%;
}
.about__row2-content2 .icon .icons {
  max-width: 160px;
  max-height: 160px;
  max-width: fit-content;
  min-width: 10px;
  margin: auto;
}
.about__row2-content2 .icon .icons:hover {
  transform: scale(2.1);
}