@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
.footer {
  width: 100%;
  height: 52px;
  border-top: solid 1px;
  color: #388087;
  background-color: #F6F6F2;
}
.footer__left {
  font-size: 22px;
}
.footer__right {
  font-size: 22px;
}
.footer__right-icon {
  margin-left: 10px;
  color: #388087;
}
.footer__right-icon:hover {
  color: #C2EDCE;
}
.footer__right-icon:visited {
  text-decoration: none;
}

@media only screen and (max-width: 619px) {
  .footer__left {
    font-size: 13px;
  }
  .footer__right {
    font-size: 13px;
  }
}
@media only screen and (max-width: 356px) {
  .footer__left {
    font-size: 12px;
  }
  .footer__right {
    font-size: 12px;
  }
}