@import '../assets/assets.scss';

.footer{
    width: 100%;
    height: 52px;
    border-top: solid 1px ;
    color: $hf-color;
    background-color: #F6F6F2;
    &__left{
        font-size: 22px;
    }
    &__right{
        font-size: 22px;
        &-icon{
            margin-left:10px;
            color: $hf-color;
            &:hover {
                color: #C2EDCE;
            }
            &:visited{
                text-decoration: none;
            }
        }
    }
}
@media only screen and (max-width: 619px) {
    .footer{
        &__left{
            font-size: 13px;
        }
        &__right{
            font-size: 13px;
            &-icon{
                &:hover {
                }
                &:visited{
                }
            }
        }
    }
}
@media only screen and (max-width: 356px) {
    .footer{
        &__left{
            font-size: 12px;
        }
        &__right{
            font-size: 12px;
            &-icon{
                &:hover {
                }
                &:visited{
                }
            }
        }
    }
}