@import '../../components/assets/assets.scss';

*{
	margin: 0;
	padding: 0;
}
.home{
    height: 100%;
    &__content{
        height: 92%;
        font-family: $font-primary;
        color: #26474E;
        font-size: 24px;
        text-align: center;
        &-landing{
            width: 50%;
            .title{
                text-align: center;
            }
            .text-wrapper{
                .text1{
                    font-size: 32px;
                    opacity: 0;
                    animation: an1 6s infinite;
                    text-align: center;
                }
                .text2{
                    font-size: 32px;
                    opacity: 0;
                    animation: an2 6s infinite;
                    position: absolute;
                    text-align: center;
                }
                .text3{
                    font-size: 32px;
                    opacity: 0;
                    animation: an3 6s infinite;
                    position: absolute;
                    text-align: center;
                }
                @keyframes an1 {
                    0%{ opacity: 0;}
                    20%{ opacity: 1;}
                    30%{ opacity: 0;}
                }
                @keyframes an2 {
                    30%{ opacity: 0;}
                    45%{ opacity: 1;}
                    60%{ opacity: 0;}
                }
                @keyframes an3 {
                    60%{ opacity: 0;}
                    75%{ opacity: 1;}
                    90%{ opacity: 0;}
                }
            }
            .end{
                text-align: center;
            }
        }
    }
}