@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
}

.home {
  height: 100%;
}
.home__content {
  height: 92%;
  font-family: "Poppins", sans-serif;
  color: #26474E;
  font-size: 24px;
  text-align: center;
}
.home__content-landing {
  width: 50%;
}
.home__content-landing .title {
  text-align: center;
}
.home__content-landing .text-wrapper .text1 {
  font-size: 32px;
  opacity: 0;
  animation: an1 6s infinite;
  text-align: center;
}
.home__content-landing .text-wrapper .text2 {
  font-size: 32px;
  opacity: 0;
  animation: an2 6s infinite;
  position: absolute;
  text-align: center;
}
.home__content-landing .text-wrapper .text3 {
  font-size: 32px;
  opacity: 0;
  animation: an3 6s infinite;
  position: absolute;
  text-align: center;
}
@keyframes an1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}
@keyframes an2 {
  30% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}
@keyframes an3 {
  60% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}
.home__content-landing .end {
  text-align: center;
}