@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #F6F6F2;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.App__content {
  width: 75%;
}
.App .footer {
  position: fixed;
  bottom: 0;
}