@import './components/assets/assets.scss';

*{
	margin: 0;
	padding: 0;
}
.App {
	background-color: #F6F6F2;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	&__content{
		width: 75%;
		height: 100%;
		background-color: #F6F6F2;
	}
	&__footer{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		
	}
}

